# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.envrc

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# chainlit
.chainlit/

# pycache
__pycache__/

# .env
.env

# local
**/local/*
!**/local/my.cnf
**/*6.json

# Google Cloud Service Account
aitech-*.json

# terraform
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
terraform/firebase-config.json
terraform/create_firebase_storage_default_bucket.sh

# trash
trash

# VRM
*.vrm
*.vrma
reference_app

# Agent Engine
.adk
agents.egg-info
agents/script.sh

# Voice
*.mp3

# Cursor
.cursor

# Unnecessary Documents
documents/ABSTRACT.md
documents/HACKATHON.md
documents/PROGRESS.md

# experiments
experiments

# API Server
sessions.db